@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.skip-nav {
	@apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-80;
}

body {
	font-family: 'Poppins', sans-serif;
}

#skip {
	scroll-margin-top: 1.125rem;
}

.light {
	background-color: rgb(249 250 251);
}

.dark {
	background-color: rgb(17 17 17);
}

body::-webkit-scrollbar {
	display: none;
}

.sticky {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.progress-bar {
	transition: 0.2s ease-out;
}

@media (min-width: 640px) {
	.main {
		height: 15rem;
	}
}
